@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {}

@layer components {
  .label {
    @apply text-sm font-medium text-primary dark:text-dark-white mb-sm;
  }

  .check-icon {
    background-image: url("/checkIcon.svg");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: black;
  background: #fff;
}

a {
  text-decoration: none;
}

